.demo-redux .redux-input {
  border: 1px solid #f1f1f1;
  width: 400px;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
  background: #f1f1f1;
  margin-bottom: 20px;
}

.demo-redux .redux-input p {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.demo-redux .demo-count {
  width: 400px;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
  margin-bottom: 20px;
}

.demo-redux .demo-count .ant-input {
  width: 100px;
  height: 34px;
  text-align: center;
}
