.demo-mobx{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    >div{
        margin-bottom:40px;
        width:400px;
        height: 200px;
        border:1px solid #f1f1f1;
        background: #f1f1f1;
        padding:20px;
        box-sizing: border-box;
        margin-right: 40px;
        p{
            font-size: 16px;
        }
        button{
            margin-right: 20px;
        }
    }
}
