.demo-mobx-store {
  display: flex;
  align-items: center;
}

.demo-mobx-store > div {
  width: 400px;
  height: 200px;
  background: #f1f1f1;
  padding: 20px;
  box-sizing: border-box;
  margin-right: 40px;
}

.demo-mobx-store > div > p {
  font-size: 16px;
}

.demo-mobx-store > div > p > span {
  color: red;
  font-weight: bold;
  font-size: 18px;
}
